body {
  text-align: center;
  margin: 20px;
  padding: 30px;
}

.container {
  padding:20px;
  text-align: left;
}

.input {
  background-color: white;
  color: black;
}

.keyword {
 
}

.content {
  width: 80%;
  height: 150px;
}
